<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Greeted Users</title>
</head>

<body>
<div class="main">
    {{#each name}}
<ul>
    <li><a href="/counter/{{this.name}}">{{this.name}}</a></li>
</ul>
    
{{/each }}

  <a href="/backhome"><button id="backHome" {{back}}> Back</button></a>

</div>
    
</body>

</html>


