<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>

   <div class="main">

    <div class = "counterDiv"> 

        <label id = "counterLabel" class="inputTag"> counter </label>

        </div>

    <div class="inputDiv">
        <form action="" method="">
 <input id = "userName" placeholder="type your name" class="inputTag"> </input>
        </form>
       
    </div>

    <div class="languageDiv">
        <label class="languageLabels">
            English
            <input type="radio" name="language" value="English">
        </label>
        
        
        <label class="languageLabels">
            Shona
            <input type="radio" name="language" value="Shona">
        </label>
        
        <label class="languageLabels" >
            Ndebele
            <input type="radio" name="language" value="Ndebele">
        </label>
        
        </div>
        <div class="labelDiv"> 
            <label id = "theGreetLabel" class="inputTag"> Welcome!  </label>
        </div>

   <div class="buttons">

    <button id = "greetbtn" class="buttonTag" > greet me</button>

    <button class= "buttonTag" id="resetCounterButton" >Reset Counter</button>
   </div>



    
   </div>

    
</body>
<!-- <script src="greet.js"></script> -->
<script src="dom2greetingsFactoryFunction.js" charset="utf-8"></script>
<script src="dom2greet.js" charset="utf-8"></script>

</html>