<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
user
<body>

    <div class="main">

        <div class="inputDiv">
            <form action="/greet" method="POST">
                <input id="userName" placeholder="type your name" class="inputTag" name="theUserName"
                    value="{{greet.theUserName}}"> </input>

                <div class="buttons">

                    <button id="greetbtn" class="buttonTag" type="submit"> greet me</button>


                </div>
                <div class="languageDiv">
                    <label class="languageLabels">
                        English
                        <input type="radio" name="language" value="English">
                    </label>


                    <label class="languageLabels">
                        Shona
                        <input type="radio" name="language" value="Shona">
                    </label>

                    <label class="languageLabels">
                        Ndebele
                        <input type="radio" name="language" value="Ndebele">
                    </label>

                    <input type="submit">

                </div>

                 <div class="counterDiv">

            <label id="counterLabel" class="inputTag">  {{count}} </label>

        </div>

            </form>

        </div>

        <form action="/userLanguage" method="POST">

            <div class="labelDiv">

                <label id="theGreetLabel" class="inputTag" name="greetingsMessage">{{greet}}</label>
                <label   class="error">{{messages.error}}</label>

            </div>
        </form>


        <form action="/greeted" , method="GET">

            <div class="buttons">

                <button id="allgreetedbtn" class="buttonTag" type="submit"> view all greeted users</button>


            </div>

        </form>








    </div>


</body>

</html>