<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <div class="main ">

         <div class="err">{{messages.error}}</div>


        <div class="inputDiv">
            <form action="/greet" method="POST">
                <input id="userName" placeholder="type your name" class="inputTag" name="theUserName"
                    value="{{greet.theUserName}}"> </input>

              
                <div class="languageDiv">
                    <label class="languageLabels">

                        <input type="radio" name="language" value="English">
                        English
                    </label>


                    <label class="languageLabels">

                        <input type="radio" name="language" value="Shona">
                        Shona
                    </label>

                    <label class="languageLabels">

                        <input type="radio" name="language" value="Ndebele">
                        Ndebele
                    </label>

                   
                </div>

                  <div class="buttons">

                    <button id="greetbtn" class="buttonTag" type="submit"> greet me</button>


                </div>

                <div class="counterDiv">

                    <label id="counterLabel" class="inputTag"> {{greet.count}} </label>

                </div>

            </form>

        </div>

        <div>
           
        </div>
        {{!-- <div class="labelDiv"> --}}

            <label id="theGreetLabel" class="inputTag" name="greetingsMessage">{{greet.greet}}</label>

        {{!-- </div> --}}


        <form action="/greeted" , method="GET">

            <div class="buttons">

                <button id="allgreetedbtn" class="buttonTag" type="submit"> view all greeted users</button>


            </div>

        </form>








    </div>


</body>

</html>