/* ================================================BODY============================================================= */

body {
    background-image: scroll;
    background-image: url("https://media.istockphoto.com/illustrations/hello-in-different-languages-word-cloud-illustration-id1194745913?b=1&k=6&m=1194745913&s=170667a&w=0&h=Fr1T-EvbllBDEBbiLCsJj2BYDSc5uns1XqPek2U5euI=");
    background-color: pink;
    min-height: 100%;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: white;
    background-color: white;
    background-color: white;
    margin: 6em 4em 10em 4em;
    padding-bottom: 5em;
    padding-top: 5em;
}

#theGreetLabel {
    font-family: Ubuntu, 'Helvetica Neue', sans-serif;
    font-size: xxx-large;
    font-weight: 450;
    padding-bottom: 2em;
    color: #ff94a7;
    margin: 20px;
}

.labelDiv {
    margin: 3em;
    padding: 2em;
    justify-content: center;
    display: flex;
    width: 14%;
    justify-self: center;
    background-color: rgb(228, 215, 209);
    border: lightgrey solid 1px;
}

#counterLabel {
    font-family: Ubuntu, 'Helvetica Neue', sans-serif;
    font-size: 3.5em;
    font-weight: 200;
    margin: 0.5em 1em 0.5em 1em;
}

.counterDiv {
    display: flex;
}

#userName {
    font-family: Ubuntu, 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: 250;
    margin: 1em;
}

#greetbtn {
    margin-left: 5.5em;
    /* margin-top: 1.5em; */
}

#reset {
    margin-top: 2em;
}

#allgreetedbtn {
    margin-top: -4em;
    border-radius: 25px;
}

.inputDiv {
    display: flex;
}

.languageDiv {
    display: flex;
    flex: 1;
    margin-top: 1em;
    padding: 1em;
    font-family: Ubuntu, 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: 200;
}

.buttonTag {
    background-color: rgb(228, 215, 209);
    font-family: Ubuntu, 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: 200;
    border-radius: 10px;
}

.buttons {
    display: flex;
}

#resetCounterButton {
    margin: 5em 0em 1em 4.5em;
}

a {
    text-decoration: none;
    font-family: Ubuntu, 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: 400;
}

a:hover {
    color: rgb(255, 118, 225);
    text-shadow: grey;
}

li {
    list-style: none;
}

#text {
    font-family: Ubuntu, 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: 400;
}

.err {
    font-family: Ubuntu, 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: 400;
    color: rgb(255, 51, 51);
}


/* ==================================MEDIA QUEIRIES================================================= */

@media(max-width:650px) {
    .main {
        display: inline-block;
        width: auto;
    }
}

@media(max-width:650px) {
    #userName {
        font-family: Ubuntu, 'Helvetica Neue', sans-serif;
        font-size: xx-large;
        font-weight: 300;
        padding: 0;
        margin: auto;
        width: 50%;
    }
}

@media(max-width:650px) {
    .inputDiv {
        padding-left: 0;
    }
}

@media(max-width:1741px) {
    .labelDiv {
        background-color: white;
        padding: 0;
        border: none;
        background-color: rgb(228, 215, 209);
        border: lightgrey solid 1px;
    }
}

@media(max-width:650px) {
    .labelDiv {
        text-align: center;
        padding: 1em;
        margin: auto;
        border: none;
        background-color: rgb(228, 215, 209);
        border: lightgrey solid 1px;
    }
}

@media(max-width:650px) {
    #counterLabel {
        font-family: Ubuntu, 'Helvetica Neue', sans-serif;
        font-size: x-large;
        font-weight: 200;
        padding: 1em;
        margin: auto;
    }
}

@media(max-width:650px) {
    .languageDiv {
        display: column;
        margin: 1em;
    }
}

@media(max-width:650px) {
    .buttons {
        display: column;
        padding: 0;
        margin: 3em;
    }
}